# Node modules
node_modules/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache
.cache/
.tmp/

# OS files
.DS_Store
Thumbs.db

# Build
dist/
build/

# PM2 Logs
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
.nyc_output/
